.task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.task-form Button {
    padding: .98rem;
    margin-left: 1rem;;
}

.tasks-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    justify-content: stretch;
}