.task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.task-form Button {
    padding: .98rem;
    margin-left: 1rem;;
}

.tasks-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}